@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    /* overflow-x: hidden; */
    background-color: #B3A9AB;
}


.slick-slide >div{
    margin: 0 10px;
}


.container {
    width: 200px; /* Adjust the width as needed */
  }
  